if SHIELD_KEILER_DONGLE
config ZMK_KEYBOARD_NAME
    default "Keiler"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y
endif

if SHIELD_KEILER_LEFT || SHIELD_KEILER_RIGHT || SHIELD_KEILER_DONGLE
config ZMK_SPLIT
    default y

config ZMK_BLE
    default y
endif
